<p class="p1">문단 1</p>
<p class="p2">문단 2</p>


<div class="btn-group" role="group">
    <a href="/home/selector" class="btn btn-primary">selector</a>
    <a href="/home/event" class="btn btn-primary">event</a>
    <a href="/home/bootstrap" class="btn btn-primary">bootstrap</a>
    <a href="/home/sweet" class="btn btn-primary">sweetalert2</a>
    <a href="/posts/index" class="btn btn-primary">실습</a>
</div>
